<fieldset class="nsw-form-fieldset">
  <legend>
    <span class="nsw-form-legend-text">{{control.description}}</span>
  </legend>
  <div class="nsw-form-radio">
    <input class="nsw-form-radio__input" type="radio" name="{{control.id}}" id="{{control.id + '-yes'}}" value="true">
    <label class="nsw-form-radio__label" for="{{control.id + '-yes'}}">Yes</label>
    <input class="nsw-form-radio__input" type="radio" name="{{control.id}}" id="{{control.id + '-no'}}" value="false">
    <label class="nsw-form-radio__label" for="{{control.id + '-no'}}">No</label>
  </div>
</fieldset>
