<fieldset class="nsw-form-fieldset">
  <legend>
    <span class="nsw-form-legend-text">Multiple Radio</span>
  </legend>
  <div class="nsw-form-radio">
    <input class="nsw-form-radio__input" type="radio" name="{inputName}" id="{uniquieID}">
    <label class="nsw-form-radio__label" for="{uniquieID}">Radio Option 1</label>
    <input class="nsw-form-radio__input" type="radio" name="{inputName}" id="{uniquieID}">
    <label class="nsw-form-radio__label" for="{uniquieID}">Radio Option 2</label>
  </div>
</fieldset>
